body {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif !important;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("img/pizza.jpg") no-repeat;
  background-size: cover;
  opacity: 0.3;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1 {
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p {
  color: #fff;
  margin-bottom: 20px;
}
.page-content a {
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
  cursor: pointer;
}
.page-content a:hover {
  color: #fff;
  background: #ff7979;
  text-decoration: none;
}
#receit {
  height: 70vh;
  text-align: center !important;
}
.form-control {
  background: url("img/pizza.jpg") no-repeat;
  background-size: cover;
}
#createorder {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.row {
  display: block;
  padding-top: 20px;
}
.label-input {
  display: block;
  text-align: right;
  width: 33%;
}

select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  width: 45%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {
}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
}
